.nextail-products-report-header--private {
  font-family: $nextail-header-private-font;
  padding: $nextail-header-private-padding;
}

.nextail-products-report-header--private,
.nextail-products-report-header--private__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.nextail-products-report-header--private__logo {
  color: $nextail-header-private-logo-color;
  font-size: $nextail-header-private-logo-font-size;
  font-weight: bold;
}
