// Private
$nextail-header-private-font: $nextail-font-primary !default;
$nextail-header-private-color: $nextail-color-text-primary !default;
$nextail-header-private-padding: $nextail-spacing-small $nextail-spacing-medium !default;
$nextail-header-private-logo-color: $nextail-color-white !default;
$nextail-header-private-logo-font-size: $nextail-font-size-xxx-large !default;
