$nextail-product-report-card-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !default;
$nextail-product-report-card-font-family: $nextail-font-primary !default;
$nextail-product-report-card-figure-width: 100% !default;
$nextail-product-report-card-description-padding: $nextail-spacing-medium !default;
