$nextail-product-report-card-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !default;
$nextail-product-report-card-font-color: $nextail-color-text-secondary !default;
$nextail-product-report-card-font-family: $nextail-font-primary !default;
$nextail-product-report-card-font-size: $nextail-font-size-small !default;
$nextail-product-report-card-figure-max-height: 350px !default;
$nextail-product-report-card-image-width: 100% !default;
$nextail-product-report-card-sales-ranking-bg: $nextail-color-neutral !default;
$nextail-product-report-card-sales-font-color: $nextail-color-white !default;
$nextail-product-report-card-sales-font-size: $nextail-font-size-x-small !default;
$nextail-product-report-card-sales-padding: 4px !default;
$nextail-product-report-card-description-padding: $nextail-spacing-small $nextail-spacing-x-small !default;
$nextail-product-report-card-description-detail-margin-bottom: $nextail-spacing-large !default;
$nextail-product-report-card-code-font-size: $nextail-font-size-xx-small !default;
$nextail-product-report-card-code-margin: 0 !default;
$nextail-product-report-card-name-font-size: $nextail-font-size-medium !default;
$nextail-product-report-card-name-font-color: $nextail-color-text-primary !default;
$nextail-product-report-card-name-margin: 0 0 $nextail-spacing-small 0 !default;
$nextail-product-report-card-stockout-progress-margin: 0 0 $nextail-spacing-medium 0 !default;
$nextail-product-report-card-stockout-progress-detail-margin-bottom: $nextail-spacing-xx-small !default;
$nextail-product-report-card-stockout-progress-detail-font-size: $nextail-font-size-x-large !default;
$nextail-product-report-card-stockout-progress-label-font-size: $nextail-font-size-xx-small !default;
$nextail-product-report-card-stockout-progress-label-color: $nextail-color-neutral !default;
$nextail-product-report-card-wh-coverage-font-size: $nextail-font-size-x-small !default;
$nextail-product-report-card-wh-coverage-good-color: $nextail-color-success !default;
$nextail-product-report-card-wh-coverage-very-low-color: $nextail-color-error !default;
$nextail-product-report-card-wh-coverage-label-color: $nextail-color-neutral !default;
$nextail-product-report-card-wh-coverage-label-font-size: $nextail-font-size-xx-small !default;
